<h3 class="follow-heading">Talvez você curta</h3>
      
<div class="follow-user">
    <div class="follow-user-img">
        <img src='http://lorempixel.com/400/200/people/6/' />
    </div>
    <div class="follow-user-info">
        <h4>Roberta Miranda</h4>
        <p>@miranda</p>
    </div>
    <button type="button" class="follow-btn">Seguir</button>
</div>


<div class="follow-user">
    <div class="follow-user-img">
        <img src='http://lorempixel.com/400/200/people/7/' />
    </div>
    <div class="follow-user-info">
        <h4>José Augusto</h4>
        <p>@augusto</p>
    </div>
    <button type="button" class="follow-btn">Seguir</button>
</div>


<div class="follow-user">
    <div class="follow-user-img">
        <img src='http://lorempixel.com/400/200/people/8/' />
    </div>
    <div class="follow-user-info">
        <h4>Eduardo Costa</h4>
        <p>@costa</p>
    </div>
    <button type="button" class="follow-btn">Seguir</button>
</div>


<div class="follow-link">
    <a href="#">Mostrar mais</a>
</div>

<footer class="follow-footer">
    <ul>
        <li><a href="#">Termos de serviço</a></li>
        <li><a href="#">Política de privacidade</a></li>
        <li><a href="#">Política de cookies</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Mais...</a></li>
    </ul>
</footer>