<div class="header-top" id="home">
    <h4>Página inicial</h4>
    <i class="far fa-star"></i>
</div>
<div class="header-post" >
    <div class="header-img-wrapper">
        <img src='http://lorempixel.com/400/200/people/3/' />
    </div>

    <form #cadastro="ngForm" (submit)='salvar()'>
        <input type="text" placeholder="O que está acontecendo?" id="id" name="descricao" [(ngModel)]="descricao" />
    </form>
    <i class="far fa-image"></i>
    <button type="submit" class="btn btn-primary" (click)="salvar()"><i class="far fa-paper-plane"></i></button>

</div>


<div class="post" *ngFor="let tweet of listTweets">
    <div class="user-avatar">
        <img [src]='getUserImage( tweet.id )' />
    </div>
    <div class="post-content" >

        <div class="post-user-info" >
            <h4>{{ getUsername( tweet.id ) }}</h4>
            <i class="fas fa-check-circle"></i>
            <span>{{ getUser( tweet.id ) }}</span>
        </div>
        <p class="post-text"  >{{ getDescricao( tweet.id ) }}</p>
        
        <div class="post-img">
            <img src='http://lorempixel.com/400/200/city/{{ tweet.random }}/'/>
        </div> 
        
        <div class="post-icons">
            <a href="#home" class="btn btn-primary" (click)="editar(tweet)"><i class="far fa-edit"></i></a>
            <button class="btn btn-primary" (click)="excluir(tweet)"><i class="fas fa-trash"></i></button>
            <i class="far fa-heart"></i>
        </div>
        
    </div>
</div> 