<!-- feeds -->
<section class="feeds-page">

  <!-- barra navegação feeds -->
    <app-barra-navegacao></app-barra-navegacao>
  <!-- fim barra de navegação feeds -->

  <!-- conteúdo feeds -->
  <div class="feeds-content">
    
    <!-- cabeçalho feeds -->
    <div class="feeds-header">
      <app-cabecalho-feeds></app-cabecalho-feeds>
    </div>
    <!-- fim cabeçalho feeds -->

    <!-- posts feeds -->
    <div class="posts">
      <app-post-feeds></app-post-feeds>
    </div>
    <!-- fim posts feeds -->

    <!-- sugestões para seguir -->
    <div class="follow">
      <app-menu-sugestoes></app-menu-sugestoes>
    </div>
    <!-- fim sugestões para seguir -->

  </div>
  <!-- fim conteúdos feeds -->

</section>
<!-- fim feeds -->