<!-- feeds -->
<section class="feeds-page">

  <!-- barra navegação feeds -->
    <app-barra-navegacao></app-barra-navegacao>
  <!-- fim barra de navegação feeds -->

  <!-- conteúdo feeds -->
  <div class="feeds-content">
  

    <!-- posts feeds após fazer rotas não utilizar <app-post-feeds></app-post-feeds>  -->
    <div class="posts">
      <router-outlet></router-outlet>
    </div>
    <!-- fim posts feeds -->

    <!-- sugestões para seguir -->
    <div class="follow">
      <app-menu-sugestoes></app-menu-sugestoes>
    </div>
    <!-- fim sugestões para seguir -->

  </div>
  <!-- fim conteúdos feeds -->

</section>
<!-- fim feeds -->

