
<div class="post">

    <div class="post-content" >

        <div class="post-user-info" >
            <h4> getUsername( 1 ) </h4>
            <i class="fas fa-check-circle"></i>
            <span> getUser( 1 ) </span>
        </div>
        <p class="post-text"  > getDescricao( 1 ) </p>
        
        <div class="post-img">
            <img src='http://lorempixel.com/400/200/city/1/'/>
        </div> 
        
        <div class="post-icons">
            <a routerLink="" class="btn btn-primary"><p class="post-text">Voltar para o feeds</p></a>
        </div>
        
    </div>

</div>