
<div class="post">

    <div class="post-content" >

        <div class="post-user-info" >
            <h4>Dados consumidos do JSON</h4>
        </div>

        <p class="post-text">{{ getUsername() }}</p>
        <p class="post-text">{{ getUser() }}</p>

        <div class="post-user-info" >
            <h4>Dados consumidos da API</h4>
        </div>

        <p class="post-text">{{ getId() }}</p>
        <p class="post-text">{{ getUrl() }}</p>
        <p class="post-text">{{ getDescricao() }}</p>
        <p class="post-text">{{ getCurtida() }}</p>
        

        <div class="post-icons">
            <a routerLink="" class="btn btn-primary"><p class="post-text">Voltar para o feeds</p></a>
        </div>
        
    </div>

</div>